<h1>{{vm.title}}</h1>

Search Music : <input type="text" name="searchText" ng-model="searchText" />

<ul>
  <li ng-repeat="music in vm.musics | filter : searchText">
    <a ng-href="#!/music/{{music._id}}">{{music.genre}}</a>
  </li>
</ul>

<form name="vm.musicForm" ng-submit="vm.addMusic()">
  Genre :
  <input
    type="text"
    name="genre"
    required
    ng-model="vm.musicGenre"
    style="color: black"
  /><br />

  Origin :
  <input
    type="text"
    name="origin"
    ng-model="vm.musicOrigin"
    style="color: black"
  /><br />

  Year :
  <input
    type="text"
    name="year"
    ng-model="vm.musicYear"
    style="color: black"
  /><br />

  Artist name :
  <input
    type="text"
    name="artistName"
    ng-model="vm.artistName"
    style="color: black"
  /><br />
  Artist age :
  <input
    type="text"
    name="artistAge"
    ng-model="vm.artistAge"
    style="color: black"
  /><br />

  <button type="submit" class="btn-success">Add Music</button>
</form>
