<h3 style="text-align: center;"><a ng-href="#!/music">Home</a></h3>
<h1>Music Information:</br></br>
    <p> {{vm.music.genre}}
</p>
    </h1>

    <p>
        Genre: {{vm.music.genre}}<br>
        Origin: {{vm.music.origin}}<br>
        Year: {{vm.music.year}}<br>
    </p>
        Artist
    <p ng-repeat="artist in vm.music.artists">
        Name : {{artist.name}}<br>
        Age: {{artist.age}}<br>
       
    
    </p>

</p>
<button ng-click= vm.deleteJob()>delete</button>
</br></br>

  
    